body{
    

    background-color:#c5d5cb;

    color:black;
    
}
#headersection{
    background-color: #9fa8a3;
    color: black;
}
#headersection{
    font-style: italic;
}
#bodysection h2{
    font-style: oblique;
    color:white;
}
input{
    padding: 10px;
    border-radius: 5px;
    color: white;
}
#dropbox{
    padding: 10px;
    border-radius: 5px;
    color:black;
}
#button{
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

#back {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px;
    font-size: 15px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
  }
  
  #logout {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    padding: 5px;
    font-size: 15px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
  }
  